@font-face {
  font-family: 'SBAggroB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html, body, #root,.background, .container{
  box-sizing: border-box; 
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow:hidden;
  margin:0 auto;
}
.background{
  padding: 40px;
  background: linear-gradient( to right, rgb(108, 45, 203), rgba(41, 70, 226, 1));
}
.container {
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 7px white, 0 0 10px black;
}
.startButton > input{
  border-radius: 114px;
  background: #FFF;
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.15);
  font-size: 48px;
  padding: 10px 20px 10px 20px;
  position: absolute;
  top: 50%;
  font-weight: bolder;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.container > img{
  
  height: 200px;
  position: absolute;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}

.userbunny1{
  height: 400px;
  position: absolute;
  top:20%;
  left: 75%;
  transform: translate3d(-50%, 0, 0);
}

.userbunny2{
  height: 400px;
  position: absolute;
  top:20%;
  left: 25%;
  transform: translate3d(-50%, 0, 0);
}

.userbunny1 ~ input{
  position: absolute;
  top:75%;
  left: 75%;
  transform: translate3d(-50%, 0, 0);
}

.userbunny2 ~ input{
  position: absolute;
  top:75%;
  left: 25%;
  transform: translate3d(-50%, 0, 0);
}

.container1{
	text-align: center;
	margin-top:200px;
}
.card-box{
	transition: 0.3s;
	position: relative;
	border-radius: 8px;
	width:100%;
	max-width: 280px;
	overflow: hidden;
	display: inline-block;
	margin-top:44px;
	box-shadow: 0 20px 35px rgba(0,0,0,0.3);
	transform: scale(1);
  display: inline-block;
}
.card-box img{
  height:329px;
  transition: 0.5s;
}
.card-box img:hover{
  transform: rotate(-20deg);
}
.card-box:hover{
	transform: scale(0.95);
}
.text-wrap{
	position: absolute;
	bottom:0;
	z-index: 10;
	padding:24px;
	text-align: center;
}
.text-wrap h1{
	font-size: 46.4px;
	font-weight: bold;
	margin-bottom:18px;
  margin: 0;
	color:#fff;
}
.text-wrap p{
  margin: 5px;
  font-size: 20px;
	color:#fff;
	line-height: 1.5;
} 
.card-box {
  background-color: rgba(255, 255, 255, 0.3);
  margin-left: 20px;
}
.card-box input{
  position: absolute;
  height: 100%;
  width: 100%;
  background: 0%;
  border: none;
}
.alignContainer{
  text-align: center;
}
/* video {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background: url() no-repeat;
  background-size: cover;
} */
video {
  width: 100vw;
  background-size : cover;
  overflow: hidden;
}
.timer{
  position: absolute;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  font-size: 78px;
  color: #FFF;
  background-color: rgba(255, 255, 255, 0.245);
  border: #FFF;
  border-style: solid;
  padding: 10px 35px 15px 35px;
  border-radius: 100px;
}

.strtButton{
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.15);
  font-size: 48px;
  position: absolute;
  top: 50%;
  font-weight: bolder;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background-color: white;
  color: navy;
  padding: 15px;
}

.backButton{
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.15);
  font-size: 15px;
  padding: 10px;
  position: absolute;
  top: 50%;
  font-weight: 500;
  left: 50%;
  transform: translate3d(-50%, 500%, 0);
  background-color: red;
  color: white;
}

.circleBTN{
  margin: 10px;
  transition: 0.3s;
	position: relative;
	border-radius: 2000px;
	width: 400px;
  height: 400px;
	overflow: hidden;
	display: inline-block;
	margin-top:150px;
	box-shadow: 0 20px 35px rgba(0,0,0,0.3);
	transform: scale(1);
  display: inline-block;
  background-color: aquamarine;
  color: white;
}
.user input{
  border-radius: 100px;
  border: none;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.7);
}
#paperScore{
  left: 120px;
  transform: translate3d(-20%, 0, 0);
}
#paperScore1{
  float: right;
  left: 290px;
  top: 200px;
  text-align: left;
}
.paperImg{
  position: absolute;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  font-size: 78px;
  background-color: rgba(255, 255, 255, 0.245);
  margin-top: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.647);
  height: 300px;
}
.imgCover{
  top: 240px;
	transition: 0.3s;
	position: relative;
	border-radius: 8px;
  height: 200px;
	width:100%;
	max-width: 200px;
	overflow: hidden;
	display: inline-block;
	margin-top:150px;
	box-shadow: 0 20px 35px rgba(0,0,0,0.3);
	transform: scale(1);
  display: inline-block;
}
.imgCover img{
  height:200px;
}
.imgCover:hover{
	transform: scale(0.95);
}
.text-wrap1{
	position: absolute;
	bottom:0;
	z-index: 10;
	padding:24px;
	text-align: center;
}
.text-wrap1 h1{
	font-size: 46.4px;
	font-weight: bold;
	margin-bottom:18px;
  margin: 0;
	color:#fff;
}
.text-wrap1 p{
  margin: 5px;
  font-size: 20px;
	color:#fff;
	line-height: 1.5;
} 
.imgCover {
  background-color: rgba(255, 255, 255, 0.3);
  margin-left: 20px;
}
.search{
  width: 117px;
  padding: 20px;
  font-size: 22px;
  border: solid;
  border-radius: 100px;
  border-color: rgb(0, 0, 0);
  background-color: white;
  color: black;
  display: block;
  margin: 20px auto 0 auto;
  box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.529);
  transition: 0.5s;
}
.search:hover{
  width: 300px;
}
.search:focus{
  width: 250px;
}



.luckCat{
  top: 650px;
  transition: 0.5s;
}

.luckCat:hover{
  top: 500px;
}
.backpointer{
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: rgb(65, 65, 65);
}
.pointer {
  position: absolute;
  background-color: rgb(108, 12, 31);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  left: -15px;
  top: -15px;

}
#screen {
  font-size: 36px;
  font-weight: 900;
  margin: 25px auto 0 auto;
  width: 600px;
  height: 50vh;
  /* user-select: none; */
  /* display: flex; */
  justify-content: center;
  padding-top: 120px;
  border-radius: 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.577);
  }
#screen.waiting {
  background-color: rgb(166, 194, 243);
}
#screen.ready {
  background-color: rgb(217, 133, 133);
}
#screen.now {
  background-color: rgb(217, 255, 167);
}
.avgScore{
  position: absolute;
  top: 230px;
  left: 50%;
  margin-left: -100px;
  font-size: 25px;
  text-align: center;
}
.resetBTN{
  margin-top: 20px;
  border-radius: 100px;
  width: 120px;
  font-weight: 400;
  font-size: 18px;
  padding: 5px;
  transition: 0.3s;
  height: 40px;
  border: none;
  box-shadow: 0 0 10px rgb(0, 0, 0);
}
.resetBTN:hover{
  width: 100px;
  background-color: rgb(255, 147, 147);
}
.backBTN{
  background-color:white;
  margin:0 auto;
  margin-top:20px;
  font-size:18px;
  transition: 0.3s;
  width: 100px;
  padding: 5px;
}
.backBTN:hover{
  width: 80px;
  background-color: rgb(255, 147, 147);
  margin:0 auto;
  margin-top:20px;
  font-size:18px;
}
.bgmBTN1{
  margin-top: 10px;
  border-radius: 5px 0px 0px 5px;
  font-weight: 900;
}
.bgmBTN2{
  margin-top: 10px;
  border-radius: 0px 5px 5px 0px;
  border: none;
  font-weight: 900;
}
.coin{
  font-size: 40px;
  font-weight: 900;
  margin-left: 50px;
  position: absolute;
  margin-top: 40px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 108);
  border-radius: 100px;
  padding: 5px 20px 10px 20px;
  box-shadow: inset 0px 0px 10px rgb(255, 255, 255);
}